{
    "env": {
      "browser": true, // Habilita las variables globales del navegador como window y document
      "jquery": true, // Habilita las variables globales de jQuery
      "angular": true // Habilita las variables globales de AngularJS
    },
    "globals": {
      // Define las variables globales específicas de tu proyecto aquí, si es necesario
    },
    "extends": "eslint:recommended", // Utiliza la configuración recomendada de ESLint como base
    "rules": {
      // Aquí puedes agregar o modificar las reglas de ESLint según tus preferencias
    }
  }
  