<!DOCTYPE html>
<html lang="es" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Camiones</title>
    <link rel="stylesheet" href="css/gestion_camiones.css" />
  </head>
  <body ng-controller="TruckController">
    <!-- Agregamos un encabezado h1 -->
    <h1>Gestión de Camiones</h1>

    <div id="truck-list">
      <!-- Aquí se mostrarán los camiones -->
      <div
        class="truck-card"
        ng-repeat="truck in trucks"
        ng-click="showTruckDetails(truck)"
      >
        <img ng-src="{{truck.imagen}}" alt="{{truck.modelo}}" />
        <h3>{{truck.modelo}}</h3>
        <p class="truck-info">Marca: {{truck.marca}}</p>
        <p class="truck-info">Año: {{truck.ano}}</p>
      </div>
    </div>

    <div
      id="add-truck-form"
      ng-mouseenter="toggleFormMargin(true)"
      ng-mouseleave="toggleFormMargin(false)"
    >
      <h2>Agregar Nuevo Camión</h2>
      <form id="truck-form" ng-submit="addTruck()">
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" ng-model="newTruck.modelo" required />

        <label for="marca">Marca:</label>
        <input type="text" id="marca" ng-model="newTruck.marca" required />

        <label for="ano">Año:</label>
        <input type="number" id="ano" ng-model="newTruck.ano" required />

        <label for="imagen">Imagen URL:</label>
        <input type="text" id="imagen" ng-model="newTruck.imagen" required />

        <button type="submit">Agregar Camión</button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/gestion_camiones.js"></script>
  </body>
</html>
